@import "tailwindcss";

header {
  background: linear-gradient(
    /* 225deg,
    #ffb3d9 0%,
    #ffd1dc 20%,
    #fff0f5 40%,
    #e6f3ff 60%,
    #d1e7ff 80%,
    #c7e9f1 100% */
  );
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.4s ease-out;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-8px);
  }
}
.animate-float {
  animation: float 4s infinite ease-in-out;
}
.animate-float-slow {
  animation: float 6s infinite ease-in-out;
}
